
.fileContainer .uploadPictureContainer img.uploadPicture {
    height: 150px;
    width: 180px;
}
.fileContainer .uploadPictureContainer {
    margin: 10px 20px;
    width: 190px;
    height: 160px;
}

.fileContainer button {
    height: 50px!important;
    width: 150px;
    font-size: 16px!important;
    color: white!important;
    background-color: black!important;
    border: none!important;
    border-radius: 8px!important;
    font-family: 'vazirmatn', sans-serif!important;
    padding-left: 10px!important;
    padding-right: 10px!important;
}
.deleteImage{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkorange!important;
    color: white!important;
    padding: 1px!important;
    font-size: 16px!important;
}

