.car-container{
    width: 94%;
    height: 486px;
    /*border: 1px solid #e5e5e5;*/
    margin-top: 10px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.car-image{
    width: 100%;
    height: 98%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.car-image img{
    position: absolute;
    height:98% ;
    width: auto;
    border-radius: 8px;
    left: -100%;
    transition: all 1000ms;

}
.car-image button{
    cursor: pointer;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius:50%;
    background-color: darkorange;
    margin: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.car-image button svg {
    width: 40px;
    height: 40px;
}
.next{
    left: 0;
    margin: auto 0;
}
.prev{
    right: 0;
    margin: auto 0;
}
.active{
    left: auto!important;
    /*margin: auto!important;*/
    transition: all 1000ms;

}


@media  (max-width: 1300px) {
    .active{
        left: auto !important;
        transition: all 1000ms;
    }
    .car-image img{
        width: 80%;
    }
    .car-container{
        height: 450px;
    }

}

@media  (max-width: 1100px) {
    .active{
        left: auto !important;
        transition: all 1000ms;
    }
    .car-image img{
        width: 80%;

    }
    .car-container{
        height: 350px;
    }

}
@media  (max-width: 720px) {
    .active{
        left: auto !important;
        transition: all 1000ms;
    }
    .car-image img{
        width: 80%;

    }
    .car-container{
        height: 250px;
    }

    @media  (max-width: 576px) {
        .active{
            left: auto !important;
            transition: all 1000ms;
        }
        .car-image img{
            width: 100%;
            border-radius: 0 !important;
            height: 100%;
        }
        .car-image {
            width: 100%;
            height: 100%;
        }
        .car-container{
            height: 250px;
            width: 100%;
            margin: 0;
        }
        @media  (max-width: 480px) {

            .car-container{
                height: 180px;
            }
            .car-image button  {
                width:35px;
                height: 35px;
            }

        }

    }

}