.cat-container{
    width: 97%;
    height: 300px;
    border-radius: 8px;
    background-color: white;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    position: relative;
    margin: 55px auto;
    cursor: pointer;
    /*border-bottom: 1px solid #eaeaea;*/
}
.cat-card{
    height: 99%;
    width: calc(100% / 5 );
    /*border-right: 1px solid #eaeaea;*/
    /*border-left: 1px solid #eaeaea;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .2s;
    background-color: white;
    margin: 1px;
    border-radius: 8px;
    box-shadow:  0 0 3px #eeeeee;
}
.cat-card:hover{
    box-shadow: 0 0 10px #eaeaea;
    /*border: 1px solid darkorange;*/
    transform: scale(1.04);
    transition: all 0.2s;

}
.cat-card-image{
    width: 70%;
    height: 40%;
    display: flex;
    align-self: center;
    justify-content: center;
    margin: 10px;
}
.cat-card-image img{
    width: 50%;
    height: 100%;
    border-radius: 8px;
}
.cat-card-title{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.cat-card-title span{
    font-size: 16px;
    font-weight: 600;
    color: black;
}
.cat-card-action{
    position: absolute;
    left: 0;
    top: -50px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 5px;
    border-radius: 8px;
}
.cat-container svg{
    color: white;
    width: 20px;
    height: 20px;

}
.view-title{
    font-size: 14px;
    color: white;
    margin:auto 10px;
}
.cat-container h2{
    position: absolute;
    right: 0;
    top: -50px;
    color: black;
    margin: 10px;

}