.mp-container{
    width: calc( 100% - 60px);
    /*height:calc(100vh - 65px);*/
    position: absolute;
    top: 65px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

@media screen and (max-width: 576px) {
    .mp-container {
        width: calc( 100%);
    }
}

.mp-cat{
    width: 95%;
    height: 80px;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 30px;
}
@media screen and (max-width: 1000px){
    .mp-cat{
        align-items: end;
    }
    .cat-title{
        top:-60px!important;
    }
    .return-btn{
        margin-top: 45px;
    }
}
@media screen and (max-width: 475px){
    .mp-cat{
        width: 100%;
        align-items: end;
        justify-content: end;
    }
    .mp-cat span{
        margin-right: 10px!important;
    }
    .return-btn{
        margin-top: 5px;
        left: -15px;
    }
}




.mp-cat span{
    color: black;
    font-size: 16px;
    margin-right: 20px;
    transition: all 500ms;
}
.mp-cat span:hover{
    transform: scale(1.04);
    transition: all 500ms;
}
.mp-cat svg{
    color: black;
    margin-right: 20px;
    width: 25px;
    height: 25px;
}
.site-footer{


}