.np-container{
    width:calc(100% - 60px);
    height: calc(100% - 65px);
    background-color: #F6F6F5;
    position: absolute;
    top: 65px;
    display: flex;
    align-items: center;
}
.np-menu{
    width: 20%;
    height: 89%;
    background-color: white;
    position: fixed;
    right: 60px;
    top: 65px;
    margin: 10px;
    border-radius: 8px;
}
.np-view{
    background-color: #F6F6F5;
    width: 78%;
    height: 97%;
    border-radius: 8px;
    margin: 5px;
}
.np-menu-row{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 50px;
}
.np-menu-row span{
    color: black;
    font-size: 16px;
    text-align: right;
    margin: 10px;

}
.np-menu-row svg{
    color: black;
    width: 25px;
    height: 25px;
    margin: 10px;
}
.active span{
    color: darkorange;
    font-weight: 600;
}
.active svg {
    color: darkorange;
}
/*info section*/
.info-container{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: start;
    background-color: white;
    border-radius: 8px;
    position: relative;
    padding-bottom: 110px;
    padding-top: 20px;
}
.info-card{
    width: 49%;
    height: 100px;
    border-radius: 8px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}
.info-card span{
    font-size: 16px;
    color: black;
    margin-right: 20px;
    width: 90%;
    text-align: end;
}
.info-card input[type=text]{
    border:1px solid #f5f5f5;
    width: 90%;
    outline: none;
    font-size: 16px;
    font-family: 'vazirmatn', sans-serif;
    height: 40px;
    text-align: center;
    border-radius: 8px;
    margin-right: 20px;

}
.info-card select{
    width: 90%;
    font-size: 16px;
    height: 40px;
    text-align: center;
    border-radius: 8px;
    outline: none;
    border: 1px solid #f5f5f5;
    margin-right: 20px;
    font-family: 'vazirmatn', sans-serif;
}
.info-container button{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 150px;
    height: 50px;
    border:none;
    background-color: darkorange;
    border-radius: 8px;
    font-size: 16px;
    font-family: 'vazirmatn', sans-serif;
    margin: 20px;
    cursor: pointer;
}
.align-right{
    /*align-items: end!important;*/
}

/*address section*/
.address-container{
    width: 100%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: end;
    padding-bottom: 100px;
    position: relative;
}
.address-card{
    width: 49%;
    height: 100px;
    border-radius: 8px;
    border:1px solid #f5f5f5;
    margin: 5px;
    position: relative;
}
.address-card:hover{
    transform: scale(1.02);
}
.address-container button{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 150px;
    height: 50px;
    border:none;
    background-color: darkorange;
    border-radius: 8px;
    font-size: 16px;
    font-family: 'vazirmatn', sans-serif;
    margin: 30px 20px;
    cursor: pointer;
}
.address-title {
    height: 40%;
    width: 95%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.address-value{
    height: 60%;
    width: 95%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.address-title span{
    font-size: 16px;
    color: black;
}
.address-value span{
    font-size: 16px;
    color: black;
    font-weight: 600;
}
.edit  > svg:first-child{
    position: absolute!important;
    color: darkorange!important;
    width: 20px!important;
    height: 20px!important;
    top: 0!important;
    left: 0!important;
}

.edit  > svg:last-child{
    position: absolute!important;
    width: 25px!important;
    height: 25px!important;
    top: 45px!important;
    left: 0!important;
}
/*orders section*/
.order-container
{
    width: 100%;

}
.order-header{
    width: 99%;
    height: 50px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    margin: 5px;
}
.order-header span{
    font-size: 16px;
    color: black;
    width: 100%;
    text-align: center  ;
}
.order-body{
    width: 99%;
    height: 50px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    border-radius: 8px;
   margin: 0 auto;
}
.order-body span{
    color: black;
    font-size: 16px;
    width: 100%;
    text-align: center  ;
}
.deliver-span{
    color: limegreen!important;
    font-weight: 600;
}
.process-span{
    color: #1b75ec !important;
    font-weight: 600;
}
.cancel-span{
    color: red!important;
    font-weight: 600;
}