.pm-container{
    width: calc(100% - 60px);
    height: calc(100vh - 65px);
    position: absolute;
    top: 65px;
    right: 60px;
    
}
.pm-top{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pm-top h2{
    color: black;
}